# JetBrains
.idea/
.vscode/

# visual studio
.vs/

# C# build artifacts
/bin/
/obj/
/artifacts/

# C# packages
/nupkg/

# Native libraries
/lib/

# Bindgen
/bindgen/ast/
/bindgen/x-ast/

# macOS
.DS_store